 <div class="container" id="mmm">
    <div class="row justify-content-center pt-5 log">
        <div class="col-8 col-md-6 col-lg-5 col-xl-4">
            <p class="text-center h1 fw-bold mb-3 mx-1 mx-md-4 mt-4">Admin Login</p>
            <form action="/admin" method="post">
               <div class="text-danger">
                   {{session}}
                </div>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example1">Email address</label>
                    <input type="email" id="form2Example1" class="form-control" name="email" value="" required/>

                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example2">Password</label>
                    <input type="password" id="form2Example2" class="form-control" name="password" value="" required/>

                </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary">login</button>
            </form>
        </div>
    </div>
</div>